html{
  height: min-content;
  width: min-content;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.draggable{
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag !important;

}

img{
  -webkit-app-region: no-drag;
}


.sharkie{
  width: auto;
  max-height: 100vh;
  display: flex;
}